<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Application</title>
</head>
<body>
  <div id="app">
    <p v-for="(msg, index) in messages">{{msg.author}} says {{msg.text}}</p>
    <input type="text" v-model="message">
    <button @click="sendMessage">Send message</button>
    <div>
      <p>Change your username</p>
      <input type="text" v-model="username">
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        messages: [],
        username: 'John Doe',
        message: '',
        socket: io('localhost:8081')
      },
      methods: {
        sendMessage: function (){
          let self = this;
          this.socket.emit('sendMessage', {
            author: self.username,
            text: self.message
          });
          self.message = '';
        }
      },
      mounted() {
        this.socket.on('loadMessages', (data) => {
          this.messages = data.messages;
        });
        this.socket.on('receiveMessage', (data) => {
          console.log(data);
          this.messages.push(data);
        });
      }
    });
  </script>
</body>
</html>